div{
  margin-left: 5em;
  margin-top: 3em;
}

p{
  font-family: 'Gabarito';
  padding: 0;
  margin-bottom: 1em;
  font-size: 9em;
  font-weight: 900;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
