<ul *ngIf="allBooks | async else loading">
  <li class="books" *ngFor="let book of allBooks | async">
    <div>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{book.titulo}}</mat-card-title>
          <mat-card-subtitle>{{book.autor}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="{{book.imageUrl}}" >
          <h4>Resenha:</h4>
          <p>
            {{book.resenha}}
          </p>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>
    </div>
  </li>
</ul>

<ng-template #loading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
