ul{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 2em;
}

ul li div{
  cursor: pointer;
  transition: transform 0.2s ease;
}

ul li div:hover{
  transform: scale(1.02);
}

mat-card{
  width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

mat-card-header{
  margin: 0;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-card-content{
  flex: 1;
  display: flex;
  flex-direction: column;
}

mat-card-content h4{
  font-size: 20px;
  font-weight: 500;
}

mat-card-image{
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

img{
  max-height: 300px;
}

img:hover{
  opacity: 0.8;
}

.description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.loading-spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50vh;
  margin-top: 20vh;
}

.paginador{
  margin: 1em;
}


@media (max-width: 1350px) {

  mat-card{
    width: 160px;
  }

  img{
    width: 200px;
    height: 200px
  };

}

@media (max-width: 500px) {
  ul{
    gap:10px;
    align-items: center;
  }

  mat-card{
    width: 120px;
  }

  mat-card mat-card-header{
    margin: 0;
    padding: 0;
  }

  mat-card mat-card-title{
    font-size: 20px;
  }

  mat-card mat-card-subtitle{
    font-size: 13px;
  }

  mat-card-content h4{
    font-size: 18px;
    font-weight: 500;
  }

  mat-card-content p{
    font-size: 15px;
  }

  img{
    width: 150px;
    height: 160px
  };

  .loading-spinner{
    margin: 0;
  }
}


@media (max-width: 376px){

  mat-card mat-card-title{
    font-size: 13px;
  }

  mat-card mat-card-subtitle{
    font-size: 8px;
  }


  mat-card-content h4{
    font-size: 14px;
  }

  mat-card-content p{
    font-size: 12px;
  }

  mat-card{
    width: 90px;
  }

  img{
    width: 120px;
    height: 130px
  };

}
