<div class="title">
  <p>Adicionar novo livro</p>
</div>
<body>
  <div class="container">
    <form [formGroup]="bookForm">
      <mat-form-field class="form-field">
        <mat-label>Titulo</mat-label>
        <input matInput type="text" appearance="outline" formControlName="titulo">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Autor</mat-label>
        <input matInput type="text" appearance="outline" formControlName="autor">
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Resenha</mat-label>
        <textarea appAutoResize matInput type="text" appearance="outline" formControlName="resenha"></textarea>
      </mat-form-field>

      <app-star-rating [rating]="bookRating" (ratingChanged)="onRatingChanged($event)"></app-star-rating>

      <div>
        <button class="save-btn" type="submit" mat-raised-button (click)="submitNewBook()">Concluir</button>
        <button class="cancel-btn" mat-raised-button mat-dialog-close>Cancelar</button>
      </div>
    </form>
  </div>

</body>
